<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Coupon</title>
</head>
<body>
  <%= form_tag coupons_path do %>
    <label>Coupon Code:</label>
    <%= text_field_tag :'coupon[coupon_code]' %><br>
    
  
    <label>Store:</label>
    <%= text_field_tag :'coupon[store]'%><br>

    <%= submit_tag "Submit Post" %>
  <% end %>
 
<%= params.inspect %>
</body>
</html>